
<!DOCTYPE html>
<html>
    <h1>Signup!</h1>


    <form method = post>
        <label>
            Username:
            <input name = "username" value = "{{username}}" required>
            <div style = "color: red">{{username_error}}</div>
        </label>
        <br>
        <label>
            Password:
            <input type = "password" name = "password" required>
            <div style = "color: red">{{pass_error}}</div>
        </label>
        <br>
        <label>
            Confirm Password:
            <input type = "password" name = "verify" required>
            <div style = "color: red">{{verify_error}}</div>
        </label>
        <br>
        <label>
            Email (optional):
            <input name = "email" value = "{{email}}">
            <div style = "color: red">{{email_error}}</div>
        </label>
        <input type="submit">
    </form>

</html>
